<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MemoryWords</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemeryWordsServlet</display-name>
    <servlet-name>MemeryWordsServlet</servlet-name>
    <servlet-class>controller.MemeryWordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemeryWordsServlet</servlet-name>
    <url-pattern>/MemeryWordsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckWord</display-name>
    <servlet-name>CheckWord</servlet-name>
    <servlet-class>controller.CheckWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckWord</servlet-name>
    <url-pattern>/CheckWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetTimes</display-name>
    <servlet-name>SetTimes</servlet-name>
    <servlet-class>controller.SetTimes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetTimes</servlet-name>
    <url-pattern>/SetTimes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddUser</display-name>
    <servlet-name>AdminAddUser</servlet-name>
    <servlet-class>controller.AdminAddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUser</servlet-name>
    <url-pattern>/AdminAddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteUser</display-name>
    <servlet-name>AdminDeleteUser</servlet-name>
    <servlet-class>controller.AdminDeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteUser</servlet-name>
    <url-pattern>/AdminDeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminChangeUser</display-name>
    <servlet-name>AdminChangeUser</servlet-name>
    <servlet-class>controller.AdminChangeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangeUser</servlet-name>
    <url-pattern>/AdminChangeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFindUser</display-name>
    <servlet-name>AdminFindUser</servlet-name>
    <servlet-class>controller.AdminFindUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFindUser</servlet-name>
    <url-pattern>/AdminFindUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddWords</display-name>
    <servlet-name>AdminAddWords</servlet-name>
    <servlet-class>controller.AdminAddWords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddWords</servlet-name>
    <url-pattern>/AdminAddWords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteWrods</display-name>
    <servlet-name>AdminDeleteWrods</servlet-name>
    <servlet-class>controller.AdminDeleteWrods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteWrods</servlet-name>
    <url-pattern>/AdminDeleteWrods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminChangeWords</display-name>
    <servlet-name>AdminChangeWords</servlet-name>
    <servlet-class>controller.AdminChangeWords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangeWords</servlet-name>
    <url-pattern>/AdminChangeWords</url-pattern>
  </servlet-mapping>
</web-app>